# API keys and secrets
src/agent/api_key.txt
*.key
.env
.vscode/extensions.json
gpt_caching/
final_results/positions
poetry.lock
api_key.txt
__pycache__/
src/agent/__pycache__/
src/__pycache__/

src/api_file.txt
imgs/
mesh_file/