# API keys and secrets
src/agent/api_key.txt
*.key
.env
.vscode/extensions.json
assets/gpt_caching
assets/final_results/positions
assets/imgs
assets/data/__pycache__/
poetry.lock

__pycache__/
src/agent/__pycache__/
src/prompt/__pycache__/
src/pybullet/__pycache__/
src/settings/__pycache__/
src/somo/__pycache__/
src/structure/__pycache__/
src/utils/__pycache__/
src/__pycache__/
.gitattributes